body {
  margin: 0;
}
/**************************Header******************************/

header h1 {
  font-size: 50px;
}

header a {
  color: black;
  margin-left: 20px;
  font-size: 1.5vw;
}

header a:hover {
  color: black;
  text-decoration: none;
}

#menu-png {
  display: flex;
  align-items: center;
  width: 2vw;
  height: 2vw;
  background-size: auto;
  text-align: center;
  padding-right: 5vw;
  font-size: 20px;
}

#menu-png img {
  padding-right: 10px;
  height: auto;
  width: 25px;
}

#hero-img {
  margin: 0;
  min-width: 100%;
  height: auto;
}

.hero-text {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  min-width: 42vw;
  height: 5vw;
  font-size: 1.8vw;
  top: 6vw;
  left: 7vw;
  font-weight: bold;
  background-color: rgb(38, 178, 89);
  color: white;
}

/*********************************SECTION 1 ICONS **************************************/

#section-1-icons img {
  padding-bottom: 15px;
}

#section-icons p {
  font-size: 1rem;
}

/*******************************SECTION 2 IMGS******************************************/

.section-2 h5 {
  border-bottom: 1px solid #808080e0;
  color: #808080e0;
}

.section-2 img {
  position: relative;
}

#second-row img {
  min-width: 100%;
  height: auto;
}

/*****************************FOOTER********************************/

footer div p {
  color: #ffffff84;
}

#recent-work p {
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff46;
}

#recent-work p:first-of-type {
  border-top: 1px solid #ffffff46;
}

#recent-posts p {
  margin-bottom: 5px;
  border-bottom: 1px solid #ffffff46;
}

#recent-posts p:first-of-type {
  border-top: 1px solid #ffffff46;
}

.copy-right-text {
  background-color: black;
}

@media screen and (max-width: 576px) {
  #header-section {
    margin: 20px 0 20px 0 !important;
    padding: 0 !important;
  }

  header h1 {
    font-size: 20px;
  }
  #menu-png img {
    padding-right: 5px;
    height: auto;
    width: 15px;
  }

  #menu-png {
    font-size: 10px;
  }

  .hero-text {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 88vw;
    height: 32px;
    font-size: 3.8vw;
    top: 11vw;
    left: 6vw;
    font-weight: bold;
    background-color: rgb(38, 178, 89);
    color: white;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  #header-section {
    padding: 0 !important;
  }

  header h1 {
    font-size: 25px;
    padding-left: 50px;
  }
  #menu-png img {
    padding-right: 5px;
    height: auto;
    width: 15px;
  }

  #menu-png {
    font-size: 10px;
    padding-right: 50px;
  }

  .hero-text {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    min-width: 55vw;
    height: 5vw;
    font-size: 2.5vw;
    top: 6vw;
    left: 17vw;
    font-weight: bold;
    background-color: rgb(38, 178, 89);
    color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-text {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    min-width: 62vw;
    height: 6vw;
    font-size: 2.8vw;
    top: 4vw;
    left: 7vw;
    font-weight: bold;
    background-color: rgb(38, 178, 89);
    color: white;
  }
}
